@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Sora:wght@300&display=swap');
        
*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
  }
  
a{
    text-decoration: none;

}
.container-inical {
    background-image: url(../imagens/Fundo-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    align-items: center;
    
    
    
}
.usuario {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    
}
.menu li {
    display: inline-block;
    margin-left: 10px; /* Espaçamento entre os itens do menu */
}
.saldo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-family: 'sora', sans-serif;
    font-size: 24px;
    align-items: center;
    
    
   
}
.joias{
    display: flex;
    justify-content: center;

}  
.baner{
    
    display: flex;
    justify-content: center;
    position: relative;
    padding: 4rem;
    border-radius: 16px 16px;
    width:auto
}
h1{
    padding-left: 2rem;
    padding-bottom: 2rem;
}

  .btn-produtos{
    text-align: center;   
    background-color: rebeccapurple;
   
    cursor: pointer;
    
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
  }

.listaProdutos {
    display: flex;
    flex-wrap: wrap; /* Alterado para wrap */
    gap: 10px;
    justify-content: center;
    width: auto;
}



 
  
  