@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,
form {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151414; 
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
}
form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 500px; 
}
.vermelho {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(180, 16, 16, 0.808); 
    
    width: 500px; 
}
.field {
    margin-bottom: 15px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 1em;
}



input[type="text"],
input[type="number"],
select {
    width: calc(100% - 12px); 
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

select {
    appearance: none; 
}

#btn{
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px; 
    background-color: blue; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

#btn:hover {
    background-color: rgb(147, 28, 28); 
}